html{
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.header__title{
    background: #4E5166;
    color: #ffffff;
    border-radius: 30px;
    padding-left: 30px;
    padding-top: 5px;
}
.header__background{
    background: #B5AA9D;
    border-radius: 30px;
    z-index: 1000;
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: center;
}
.header__link{
    color: #ffffff;
    display: inline-block; 
    box-sizing: border-box;
    margin: 5px;
}
.header__top{
    height: 100px;
    width: 1070px;
    border-radius: 30px; 
}
.body__box{
    position: relative;
}

.main__background{
    background: rgb(92,88,83);
    background: radial-gradient(circle, rgba(92,88,83,1) 41%, rgba(210,194,171,0.7147233893557423) 86%);
} 

.main--image{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.main--image__description{
    display: flex;
    align-items: center;
    padding: 15px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
}

.article__category{
    background: #B5AA9D;
    border-radius: 30px;
    padding-left: 30px;
    padding-top: 5px;
    position: relative;
}

.article__subtitle{
    background: #747274;
    border-radius: 30px;
    padding-left: 30px;
    padding-top: 5px;
}

.article__description{
    background: #474A48;
    border-radius: 30px;
    padding-left: 30px;
    padding-top: 5px;
}

.article__description--table{
    background: #474A48;
    border: 3px solid rgb(22, 22, 22, 0.4);
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-spacing: 0;
    border-collapse: collapse;
    border-radius: 30px;
    border: 1px solid black;
}

.article__box-model{
    display: flex;
    justify-content: center;
}

.article__margin{
    width: 400px;
    height: 400px;
    background-color: #FF521B;
    padding: 35px 50px;
}

.article__border{
    width: 300px;
    height: 300px;
    background-color: #FC9E4F;
    padding: 30px 50px;
}

.article__padding{
    width: 200px;
    height: 200px;
    background-color: #EDD382;
    padding: 30px 40px;
}

.article__element{
    width: 100px;
    height: 100px;
    background-color: #F2F3AE;
    padding: 30px 60px;
}

.section__image{
    width: 20%;
    border-radius: 50%;
    display: flex;
    margin: 20px 200px;
}
.section__subtitle{
    background: #747274;
    border-radius: 30px;
    padding-left: 30px;
    padding-top: 5px;
    height: 50px;
}
.section__link{
    color: #98473E;
    border-radius: 30px;
    width: 20px;
    height: 20px;
}

.footer{
    background: #B5AA9D;
    border-radius: 30px;  
}

.footer__link{
    color:#ffffff;
    border-radius: 30px;
    width: 20px;
    height: 20px;
}

.box{
    box-sizing: border-box;
    padding: 5% 20%;    
}

.container{
    background: #747274;
    display: inline-block;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 50%;
    padding-left: 25px;
    padding-top: 40px;
    position: relative;
}

.container__flex{
    display: flex;
    justify-content: space-around;
}

.background__all{
    background: #E1CEBF;
    border-radius: 30px;
}

.sticky{
    position: sticky;
    top: 0;
}

.table__heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
    border-spacing: 0;
}

.table__td{
    border: 1px solid black;
    padding: 3px;
}

.table__td--style{
    empty-cells: hide;
    padding: 0px;
}
.table__div{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    background: #474A48;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

.table__th{
    text-align: left;
    border-spacing: 0;
}


